# Standard project files
.eclipse
build.properties
.classpath
.project
.idea
.settings
*.class
*~
.DS_Store
*.ipr
*.iml
*.iws
*.class
cobertura.ser
jacoco.exec
junit.log
derby.log
ivy.jar
build
activemq-data
testoutput
log4j.properties
*.orig
target
bin
.gradle
gradle.properties
unit-tests.properties
unit-tests.properties.resolved
interlok-aws-common/src/main/generated
interlok-aws-kinesis/src/main/generated
interlok-aws-s3/src/main/generated
interlok-aws-sns/src/main/generated
interlok-aws-sqs/src/main/generated
interlok-aws-kms/src/main/generated
