junit.ConsumerCase.baseDir=@BUILD_DIR@/examples/consumers
junit.ServiceCase.baseDir=@BUILD_DIR@/examples/services
junit.ProducerCase.baseDir=@BUILD_DIR@/examples/producers
junit.WorkflowCase.baseDir=@BUILD_DIR@/examples/workflows

junit.localstack.tests.enabled=false
junit.localstack.sqs.signingRegion=us-east-1
junit.localstack.sqs.url=http://localhost:4576
junit.localstack.sqs.queue=SampleQ1
